body {
    background: black;
    color: #ffffff;
    margin: 0;
    font-family: Arial;
    font-size: 1rem;
}

.conteudo {
    margin: 0 auto;
    width: 100%;
    max-width: 450%;
    margin-top: 50px;
    margin-bottom: 50px;
}